<div class="card">
  <div class="content">
    <br>
    <div class="titulo">
      <h1>Salón de belleza Madrigal</h1>
      <br><br>
      <h2>Inicio de sesión</h2>
    </div>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="email">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" >
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="ingresar(email,password)">Ingresar</button>
    </div>
    <br>
  </div>
</div>