@import '~ngx-toastr/toastr';
.card{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5DC1B9;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align:center;
  }
  
.example-full-width {
    width: 75%;
    text-align:center;
    color: #204441;
}

.titulo{
  color: #204441;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.buttons{
  display: flex;
  justify-content: center;
}

.content{
  background-color: aliceblue;
  border-radius: 5%;
}
