
<body>
    <div class="header">
        <mat-toolbar style="background: none;">
            <div class="titulo">
                Salón de belleza Madrigal
            </div>
            <button mat-button class="goBack" (click)="retornar()" routerLink="/info" routerLinkActive="active">Regresar</button>
        </mat-toolbar>
     </div>

     <mat-card style="margin-left: 20%; margin-right: 20%; border-radius: 5px;">
        <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
          
          <mat-tab label="Top clientes">
            <app-top-clientes></app-top-clientes>
          </mat-tab>

          <mat-tab label="Clientes registrados">
            <app-vista-lista-usuarios></app-vista-lista-usuarios>
          </mat-tab>     
           
          <!-- <mat-tab label="Ultimos clientes">
            <app-fotos></app-fotos>
          </mat-tab> -->
        </mat-tab-group>
      </mat-card>
</body>